__pycache__/
*.py[cod]
*$py.class

*.egg-info
dist/
build/

.venv/
env/
venv/
.env/

*.log
local_settings.py
db.sqlite3
media/
static/

tests/.coverage*
tests/coverage_html/
tests/report/
tests/screenshots/

.idea/
.vscode/